%h1 Editing my account

- form_for :user, :url => account_path do |form|
  = render :partial => 'form', :locals => {:form => form}
  %p= form.submit 'Update'

%p
  = link_to "My Profile", account_path
